
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,table,input,textarea,button{margin:0;padding:0}

body,input,textarea,select,table{font-family:'돋움',Dotum,sans-serif;font-size:12px}
img,fieldset{border:0}

a:link{color: black; text-decoration: none}
a:visited{color: black; text-decoration: none}
a:hover{color: black; text-decoration: none}

html,body{height:100%}
body{background:url(http://static.naver.net/music/2015/bg_snb_v2.png) repeat-y 0 0}



header{
    background-color: #454545;
    padding: 20px;
    padding-bottom: 0px;
}

#NAVER{
    color: #33DD55;
}

#MUSIC{
    color: #FFF;
}

header input{
    border: solid 3px #33DD55;
    width: 190px;
    padding: 2px;
    background-color: #454545;
}

.search{
    color: #FFF;
    background-color: #33DD55;
    padding: 4px;
    
}

.totalSearch{
    color: #DDD;
    background-color: #404040;
    padding: 4px;
}

#headerMenu{
    display: inline;
    padding: 0px;
    font-size: 0;
}

.headerNav{
    background-color:#404040;
    color: #DDD;
    outline-width: thin;
    padding-left: 15px;
    padding-right: 15px;
}

h1{
    font-size: 20px;
    margin : 5px;
    padding: 5px;
    display: inline-block;
}

h2{
    padding: 20px;
}

#headerMenu li{
    display: inline;
}

#headerMenu button{
    margin
    
}


.mainContents{
    
}

#todayMusic li{
    display: inline-block;
}

table{
    width: 500px;
    font-size:15px;
    padding: 10px;
    border: 5px;
}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    border-color: black;
    border: 5px;
    background-color: #EEE;
}

#seeMore{
    float: right;
    
}

.contents{
    
}

.contentsList{
    display:block
}

.contentsList img{
    display: block;
}

.contentsList h5{
    padding: 5px;
    padding-top: 20px;
    padding-left: 10px;
    display: inline-block;
    color:deepskyblue;
    font-size: 12px;
}

.contentsList h4{
    padding: 5px;
    padding-left: 10px;
    display: inline-block;
    font-size: 14px;

}


.contentsList p{
    padding-left: 10px;
    padding-bottom: 30px;
    display: inline;
}





